.currency-list {

  background: #fff;
  color: #bb5432;
  font-weight: 500;
  text-align: left;
  height: 300px;
  overflow: auto;

  &-title {
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-top: 1px #f1c5b6 solid;
  }

  &-item {
    background: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px #f1c5b6 solid;
    height: 40px;
    line-height: 40px;

    transition: background 0.2s;

    &:hover {
      background: #f1c5b6;
      cursor: pointer;
    }
  }
}
